* {
  text-decoration: none;
}
body {
margin: auto;
width: 960;
text-align: center;
background: #e7dbc0;
color: #431F10;
font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: linear-gradient(#C87620, #e7dbc0b9 80%);
  width: 100%;
  margin: 0; 
 
}
nav ul {
  padding: 0px;
  margin: 0 0 0 0;
  margin-top: 80px;
  list-style: none;
  display: inline-flex;
}

nav li {
  padding: 0px;
  line-height: 70px;
}

nav img {
  display: inline;;
  margin-left: 30px;
  border-radius: 7px;
  height: 70px;
  width: 250px;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

nav a {
  width: 100px;
  display: inline;
  padding: 0px 40px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color:  #431F10;
  text-align: center;
  margin-left: 50px;

}



nav a:hover {
  color: #9b4c38;
}

header a:hover {
  color: #9b4c38;
}

}
.sales-data section {
  margin: auto;
  border: 3px solid #B3B3A0;
  background-color: rgb(255,255,255);
  border-radius: 10px;
  width: 400px;
  margin-bottom: 5px;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#main h4 {
  font-size: 1.5em;
  color:#ece4d0;
  background: #eb92348c
}

#main {
  background-color: #E7DBC0;
  border-radius: 6px 6px 0 0 ;
  border-bottom: none;
  max-width: 960px;
  max-height: 450px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#main img {
  width: 960px;
  height: 400px;
}

#body {
  background-color: #E7DBC0;
  border: 2px solid #c08b0f3d;
  border-top: none;
  max-width: 960px;
  margin: auto;
  margin-top: 0px;
  padding-bottom: 20px

}

#location, a {
  margin-top: 200px;
  padding-bottom: 0px;
  color: #431F10;
}

#location li:first-child{
  font-weight: bold;
  font-size: 1.3em;
}
.body p {
  line-height: 0.5;
}

.bestseller {
  box-sizing: content-box;
  position: relative;
}

.bestHeader {
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 50px;
  
}

.secondary-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 350px;
}
.secondary-content img {
  background-size: cover;
  height: 375px;
  width: 300px;
  padding: 0px;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
  0 0  0 0px rgb(255,255,255),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.secondary-content h3 {
  padding-top: 30px;
}
.header {
  font-size: 2em;
  font-weight: bold;
  padding: 20px 20px;
}

.third-content {
  max-height: 480px;
  margin-bottom: 50px;
}
.third-content img {
  display: inline-flex;
  height: 480px;
  width: 400px;
  margin-right: 30px;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.myBox {
  display: inline-flex;
  border: none;
  padding: 5px;
  margin-left: 30px;
  font: 24px/36px sans-serif;
  height: 480px;
  width: 600px;
  overflow: scroll;
  vertical-align: 450px;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  
.storelocation a:hover {
  color: #9b4c38;
}
/* footer */

footer {
  width: 100%;
  height: 200px;
  background: #431F10;
  color: #B3B3A0;

}
footer p {
  padding-bottom: 4px;
  position: absolute;
  display: bottom;
  color: #B3B3A0;
}

footer a {
  color: #B3B3A0;
  line-height: 2em;
  font-size: .8em;
  margin-bottom: 0px;
  
}

footer a:hover {
  color: #C87620;
}
footer li:first-child {
  font-weight: bold;
  font-size: 1.3em;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 40px;
  padding-bottom: 0px;
  margin: 0 250px;
  margin-bottom: ;
  line-height: 1.5em;
}

address {
  padding-bottom: 50px;
}

/* table */

table{
  
  background-color: #E7DBC0;
  border: 2px solid #c08b0f3d;
  border-top: none;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
  padding-bottom: 20px
}

th {
  background: linear-gradient(#C87620, #E7DBC0 90%);;
  border: 2px solid #E7DBC0;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  border-radius:8px;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
  
}

td {
  background-color: rgb(55, 56, 56);
  color: white;
  border: 2px solid #E7DBC0;;
  border-radius:8px;
  padding: 1em;
  margin: 1em;
   box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 0px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

tr :last-child {
  color: #431F10;
  background: linear-gradient(#C87620, #E7DBC0 90%);;
  border: 2px solid #E7DBC0;;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  border-radius:8px;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

tr :first-child {
  color: #431F10;
  background: linear-gradient(#C87620, #E7DBC0 90%);;
  border: 2px solid #E7DBC0;;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  border-radius:8px;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.form-box {
  margin: 100px auto;
  text-align: center;
  width:320px;
  height:340px;
  background: rgba(0, 0, 0, 0.5);
  top:50%;
  left:50%;
  box-sizing: border-box;
  padding: 40px 30px;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);

}
.form-box h1 {
  margin-top: 0;
  padding-bottom: 20px;
  font-weight: bolder;
  color: antiquewhite;
}
.form-box p {
  color: #E7DBC0;
  padding: 5px 0 5px 0;
}

.form-box div {
  padding: 15px 0 5px 0;
}

.form-box input {
  width: 100%;
}

.form-box input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 20px;
  color: #fff;
}

.form-box button {
  border-radius: 5px;
  color: aliceblue;
  background-color: black;
  outline: none;
}
© 2020 GitHub, Inc.