  
*{
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  max-width: 960px;
  background-color: rgba(255, 255, 255, 0.945);
  margin: 0 auto;
}

#icon {
  background-color: rgba(255, 255, 255, 0.945);
  padding: 4px 0 7px 0px;
  display: flex;
  max-width: 960px;
  /* border: black 2px solid; */
  margin-top: 30px;
  
}
#logo {
  margin-right: 0px;
  margin-top: 10px;
}

#logo2 {
  vertical-align: 7px;
}
#icon2 {
  margin-left: 0px;
}

#mini {
  padding-left: 8px;
}
#delicousFork {
  float: left;
}

#chocolate-header {
  margin-top: 40px;
}


#chocolate-header2 {
  margin-bottom: 40px;
  display: flex;
  grid-template-rows: 1fr 1fr 1fr;

}
.date {
  margin-left: 0;
}
.print {
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#chocopizza img {
  align-content: center;
  margin: 0 auto;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  
}

#recipe p {
  margin: 30px 0 40px 0;
  text-indent: 40px;
  
}


#notepage {
  color: rgba(192, 126, 72, 0.973);
  display: flex;
  grid-template-rows: 1fr 1fr;
  background-image: url(https://raw.githubusercontent.com/codefellows/seattle-201d66/master/class-10/lab/list-bg.png);
  background-size: cover;
  margin-top: 20px;
  height: 300px;
  width: 100%;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#notepage ul {
  margin-top: 60px;
  list-style-type: square ;
  line-height: 30px;
}
#border {
  background-image: url(https://raw.githubusercontent.com/codefellows/seattle-201d66/master/class-10/lab/hr-img.png);
  background-repeat: repeat;
  margin-top: 40px;
  height: 20px;
  width: 100%;
}

#vanessa {

  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  grid-template-rows: 1fr 1fr 1fr;
  list-style: none;
  

}

#vanessa ul {
  list-style-type: none;
  margin-left: 0;
}
#vanessa li {
 padding-bottom: 20px;
 margin-right: 60px;
}
button {

  background-color: chocolate;
  color: whitesmoke;
  width: 200px;
  height: 50px;
  border: none;

}

footer {
  text-align: center;
  color: gray;
  margin-bottom: 100px;
  margin-top: 50px;
}

#fucklogo {
  max-width: 40px;
  z-index: -1;
  opacity: 65%;
  padding: 0px;
  /* border-radius: 20px; */
  overflow: hidden;
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 0px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

